
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}
body {
  background-color: #a8d0e7;
}
.navbar {
  color: #ffffff;
  background-color: #5f9bbe;
}
.navbar:hover {
  color: #ffffff;
  background-color: #0f0e24;
}
.navbarbg {
  background-color: #a8d0e7;
}
.result{
  color: #ffffff;
  background-color: #3f8d66;
}
.resultbg {
  background-color: #a8d0e7;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #c51919;
}
